@import 'base';
//header部分开始
.header{
	@include zuoyou;
	width: 100%;
	height: 44px;
	background: #333333;
	z-index: 777777;
	.header-inner{
		max-width: 1024px;
		height: 44px;
		margin: 0 auto;
		padding: 0 15px;
		box-sizing:border-box;
	}
	.nav{
		height: 44px;
		text-align: justify;
		overflow: hidden;
		$nav-list:(
			'logo':20px,
			'mac':31px,
			'ipad':30px,
			'iphone':48px,
			'watch':44px,
			'tv':44px,
			'music':40px,
			'support':57px,
			'search':20px,
			'bag':18px
			);	
		@each $key in map_keys($nav_list){
			.#{$key} a{
				background: url(../img/#{$key}.svg)no-repeat center center;
			}
		}
		li{
			display: inline-block;
			height: 44px;
			line-height: 44px;	
			a{
				display: block;
				width: 44px;
				height: 44px;
				padding: 0 12px;
				transition:opacity 0.6s ease;
				&:hover{
					opacity:0.6;
				}
				span{
					font-size: 0;
					line-height: 0;
					height: 0;
					width: 0;
				}
			}
		}
		&::after{
			content:'';
			display: inline-block;
			width: 100%;
			height: 0;
			line-height: 0;
			overflow: hidden;
		}
		.xiaoshi{
			transition:all 0.8s ease;
			transform:scale(1,1);
		}
	}
		.xiaoshi.searching{
			transform:scale(0.2,0.2);
			opacity: 0;
		}
}
.nav-iphone{
	height: 48px;	
	display:none;
	li{
		height: 48px;
		line-height: 48px;
		@include cube(48px);
		transition:opacity 0.6s ease;
		cursor: pointer;
	}
	.menu{
		@include shangxia;
		left:0;
		.hang,.lie{
			transition:all 0.6s ease;
			width:17px;
			height:1px;
			background: #FFFFFF;
			@include zuoyou;
		}
		.hang{
			top:20px;
		}
		.hang.zhuan{
			transform:rotateZ(45deg);
			top:24px;
		}
		.lie{
			bottom:20px;
		}
		.lie.zhuan{
			transform:rotateZ(135deg);
			bottom:23px;
		}
		&:hover{
			opacity:0.6;
		}
	}
	.logo{
		background: url(../img/logo.svg)no-repeat center center;
		@include zuoyou;
		top:0;
		&:hover{
			opacity:0.6;
		}
	}
	.bag{
		background: url(../img/bag.svg)no-repeat center center;
		@include shangxia;
		right: 0;
		transform:translateX(0);
		transition:transform 0.6s ease;
		&:hover{
			opacity:0.6;
		}
	}
	.bag.searching{
		width: 0;
		height:0;
		transform:translateX(50px);
	}
}
@include ons{
	.header{
		height: 48px;
		.header-inner{
			height: 48px;
			padding: 0;
			.nav-iphone{
				display: block;
			}
		}
	}
	.nav{
		display: none;
	}
}
.searchbox{
	@include zuoyou;
	height:0;
	top:0;
	width: 0;
	overflow: hidden;
	transform:translateX(1050px);
	transition:transform 0.6s ease;
	z-index: 100000;
	.button{
		float: left;
		@include cube(44px);
		background: url(../img/search.svg) no-repeat center center;
	}
	input{
		float: left;
		font-size: 16px;
		font-family: "jixi";
		height: 44px;
		outline: none;
		width: 580px;
		border: none;
		background-color: transparent;
		color:#8E8E8E;
	}
	.cuohao{
		float:right;
		@include cube(44px);
		cursor: pointer;
		line-height: 44px;
		text-align: center;
		color:#FFFFFF;
		font-size: 16px;
		font-family: "jixi";
	}
	.xiala{
		position: absolute;
		top:44px;
		left:0;
		width:100%;
		height:0;
		background:#FFFFFF;
		z-index: 2222222;
		display: block;
		padding:0 15px;
		box-sizing:border-box;
		overflow: hidden;
		font-family: "zhengchang";
		span{
			font-family: "cuti";
			display: block;
			color:#999;
			margin-top: 10px;
			margin-left:18px;
			font-size: 10px;
			line-height: 30px;
		}
		li{
			transform:translateX(50px);
			transition:transform 0.9s ease 0.6s;
		}
		li a{
			color:#999;
			display: block;
			width: 100%;
			font-size: 14px;
			line-height: 30px;
			padding:3px 45px;
			box-sizing:border-box;
			font-family: "cuti";
			&:hover{
				background: #F2F2F2;
				color:#0070c9;
			}
		}
	}
}
.searchbox.searching{
	width: 668px;
	height:auto;
	overflow: visible;
	transform: translateX(0);
	.xiala{
		height: 230px;
		transition:all 0.3s ease 0.6s;
		li{
			transform: translateX(0);
		}
		@for $i from 1 through 5{
			li:nth-child(#{$i}){
				transition-delay:0.6s+ $i*0.1s;
			}
		}
	}
}
.zhezhao{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 111111;
	display: none;
}
.zhezhao.searching{
	display: block;
}
body.searching{
	overflow: hidden;
}
@include ons{
	.xiaozhezhao{
		height:0;
		width: 100%;
		position: fixed;
		top:0;
		z-index: 666666;
		background: #000000;
		transform:translateY(-150%);
		transition:transform 0.6s ease;
		.caidan{
			position: absolute;
			top:48px;
			left:0;
			width:100%;
			height:auto;
			display: block;
			overflow: hidden;
			.mac{
				background: url(../img/mac.svg)no-repeat;
			}
			.ipad{
				background: url(../img/ipad.svg)no-repeat;
			}
			.iphone{
				background: url(../img/iphone.svg)no-repeat;
			}
			.watch{
				background: url(../img/watch.svg)no-repeat;
			}
			.tv{
				background: url(../img/tv.svg)no-repeat;
			}
			.music{
				background: url(../img/music.svg)no-repeat;
			}
			.support{
				background: url(../img/support.svg)no-repeat;
			}
			li{
				color:#FFFFFF;
				width: 90%;
				line-height: 48px;
				//border-bottom: 1px solid #333333;
				margin: 0 auto;
				transform:translateX(-100%);
				transition:transform 0.6s ease 0.6s,opacity 0.3s ease;
				cursor: pointer;
				&:hover{
					opacity: 0.6;
				}
			}
			.button{
				float: left;
				@include cube(44px);
				background: url(../img/search.svg) no-repeat center center;
			}
			input{
				float: left;
				font-size: 16px;
				font-family: "jixi";
				height:0;
				outline: none;
				border: none;
				background-color: transparent;
				color:#8E8E8E;
			}
		}
	}
	.xiaozhezhao.searching{
		height:100%;
		transform: translateY(0);
		li{
			height:48px;
			transform: translateX(0);
		}
		input{
			height: 44px;
		}
		@for $i from 1 through 8{
			li:nth-child(#{$i}){
				transition-delay:0.1s+ $i*0.1s;
			}
		}
	}
}
//header部分结束
//banner部分开始
.lunbo{
	overflow: hidden;
	@include matrix(100%,630px);
	margin:auto;
	.lunbo-inner{
		width: 100%;
		height:100%;
		li{
			width: 100%;
			height:100%;
			display: none;
			@include gai;
			color:#fff;
			text-align: center;
			cursor: pointer;
			transition:transform 0.6s ease;
			a{
				width: 100%;
				height:100%;
				@include gai;
			}
		}
		.active{
			transform:translateX(0);
			display: block;
		}
		.tu1 a{
			background: #FFFFFF url(../img/bannerbig1.jpg)no-repeat center center;
		}
		.tu2 a{
			background: #FFFFFF url(../img/bannerbig2.jpg)no-repeat center center;
		}
		.tu3 a{
			background: #FFFFFF url(../img/bannerbig3.jpg)no-repeat center center;
		}
		.tu4 a{
			background: #FFFFFF url(../img/bannerbig4.jpg)no-repeat center center;
		}
		@include ons{
			.tu1 a{
				background: #FFFFFF url(../img/bannersmall1.jpg)no-repeat center center;
			}
			.tu2 a{
				background: #FFFFFF url(../img/bannersmall2.jpg)no-repeat center center;
			}
			.tu3 a{
				background: #FFFFFF url(../img/bannersmall3.jpg)no-repeat center center;
			}
			.tu4 a{
				background: #FFFFFF url(../img/bannersmall4.jpg)no-repeat center center;
			}
		}
		.left{
			display: block;
			transform:translateX(-100%);
		}
		.right{
			display: block;
			transform:translateX(100%);
		}
	}
	.zhishi{
		@include matrix(72px,20px);
		@include zuoyou;
		bottom:10px;
		li{
			@include circle(8px);
			background: #999999;
			float: left;
			margin:5px 5px;
			cursor: pointer;
		}
		.active{
			box-shadow: 0 0 0 1px #177DCE;
			background: #FFFFFF;
		}
	}
	i{
		display: block;
		@include matrix(67px,128px);
		@include shangxia;
		cursor: pointer;
	}
	.lzuo{
		background: url(../img/1.png);
		display: none;
		left:0;
	}
	.lyou{
		background: url(../img/2.png);
		display: none;
		right:0;
	}
}
@include ons{
	.lunbo{
		height: 540px;
	}
}
//banner部分结束
//图片展示部分开始
.container{
	width: 100%;
	margin: 0 auto;
	.zhanshi1 a{
		margin-right:2px;
		margin-bottom: 2px;
		display: block;
		height: 200px;
		background: url(../img/zhanshibig1.jpg)no-repeat center center;
		background-size:cover;
	}
	.zhanshi2 a{
		margin-right:2px;
		margin-bottom: 2px;
		display: block;
		height: 200px;
		background: url(../img/zhanshibig2.jpg)no-repeat center center;
		background-size:cover;
	}
	.zhanshi3 a{
		margin-right:2px;
		margin-bottom: 2px;
		display: block;
		height: 200px;
		background: url(../img/zhanshibig3.jpg)no-repeat center center;
		background-size:cover;
	}
	.zhanshi4 a{
		margin-bottom: 2px;
		display: block;
		height: 200px;
		background: url(../img/zhanshibig4.jpg)no-repeat center center;
		background-size:cover;
	}
	@include onm{
		.zhanshi2 a{
			margin-right:0;
		}
	}
	@include ons{
		.zhanshi1 a{
			margin-right: 0;
			background: url(../img/zhanshismall1.jpg)no-repeat center center;
		}
		.zhanshi2 a{
			margin-right: 0;
			background: url(../img/zhanshismall2.jpg)no-repeat center center;
		}
		.zhanshi3 a{
			margin-right: 0;
			background: url(../img/zhanshismall3.jpg)no-repeat center center;
		}
		.zhanshi4 a{
			background: url(../img/zhanshismall4.jpg)no-repeat center center;
		}
	}
}
//图片展示部分结束
//footer部分开始
.footer{
	font-family: "cuti";
	position: relative;
	width:100%;
	background-color: #f2f2f2;
	font-size: 12px;
	color:#666666;
	.footerin{
		height:100%;
		margin:0 auto;
		max-width: 1024px;
	}
	.navfooter::after{
		content:"";
		display: block;
		clear:both;
		line-height: 0;
		height: 0;
	}
	.hang{
		width: 20%;
		float:left;
		margin-top: 30px;
		li{
			padding:3px;
			box-sizing:border-box;
			a{
				color:#666666;
				&:hover{
					color:#333333;
					text-decoration: underline;
				}
			}
		}
		.diyi{
			font-family: "jicu";
			color:#333333;
		}
		.lists{
			margin-left: 20%;
		}
		.list1{
			margin-top: 25px;
		}
	}
	.more{
		clear:both;
		margin-left: 4%;
		color:#999999;
		line-height: 40px;
		border-bottom:1px solid #e3e3e3;
		a{
			color:#08c;
			&:hover{
				text-decoration: underline;
				color:#333333;
			}
		}
	}
	.guoqi{
		display: none;
		height: 30px;
		margin-left: 4%;
		margin-top: 10px;
		img{
			float: left;
		}
		a{
			float: left;
			display: block;
			line-height: 20px;
			margin-left: 10px;
			color:#666666;
			&:hover{
				color:#333333;
				text-decoration: underline;
			}
		}
	}
	@include ons{
		.guoqi{
			display: block;
		}
	}

	.copyright{
		width: 100%;
		color: #999999;
		height:30px;
		line-height: 30px;
		margin-bottom: 30px;
		.copy{
			float: left;
			margin-right:30px;
			margin-left: 4%;
		}
		.baoguo{
			float: left;
			margin-left: 2%;
		}
		.privacy{
			float: left;
			margin-right:6px;
			a{
				color:#999999;
				&:hover{
					color:#333333;
					text-decoration: underline;
				}
			}
		}
		.zhongguo{
			display: block;
			height: 30px;
			float: right;
			margin-top: 8px;
			img{
				float: left;
			}
			a{
				float: left;
				display: block;
				line-height: 20px;
				margin-left: 10px;
				color:#666666;
				&:hover{
					color:#333333;
					text-decoration: underline;
				}
			}
		}
		@include ons{
			.zhongguo{
				display: none;
			}
		}
	}
	.navfooter-yincang{
		padding-top:25px;
		display: none;
		width: 95%;
		margin: 0 auto;
		color:#333333;
		font-size: 14px;
		box-sizing:border-box;
		.navzong{
			.foot1,.foot2,.foot3,.foot4,.foot5,.foot6,.foot7{
				border-bottom: 1px solid #E3E3E3;
				width: 100%;
				cursor: pointer;
			}
			.shop{
				font-size: 14px;
				transition:font-size 0.3s ease;
				width: 100%;
				line-height: 40px;
				color:#333333;
				cursor: pointer;
				font-family: "cuti";
			}
			.shop.bianda{
				font-family: "jicu";
				font-size: 16px;
			}
			.jiahao{
				position: absolute;
				top:0;
				right:2%;
				line-height: 40px;
				margin-right: 10px;
				transition:transform .3s ease;
				cursor: pointer;
			}
			.jiahao.xuanzhuan{
				transform:rotateZ(45deg);
			}
			ul{
				clear:both;
				display:none;
				li{
					width: 100%;
					padding:10px;
					box-sizing:border-box;
					a{
						color:#666666;
						&:hover{
							color:#333333;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}
@include ons{
	.footer{
		.navfooter{
			display: none;
		}
		.navfooter-yincang{
			display: block;

		}
	}
}
//footer部分结束